.book-preview {
    display: flex;
    flex-direction: row;
    border-radius: 0.7em;
    background-color: var(--asphalt);
    margin: 1.2em;
    padding: 1em;
    max-width: 30em;
    margin-bottom: 1.5em;
}