/* Styles just used by the Book component */

#cover-wrapper {
    display: flex;
    /* height: fit-content;
    border: 1px solid red; */
    justify-content: center;
}

#cover-wrapper img {
    width: 50%;
    height: auto;
    border-radius: 7%;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-200);
    /* border: 2px solid orange; */
}
#title-wrapper h2 {
    margin-bottom: var(--gap-100);
}
#title-wrapper h2,
#title-wrapper h3 {
    text-align: center;
}

#stats-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: var(--gap-200);
    /* border: 2px solid yellowgreen; */
    justify-content: space-between;
}
#stats-wrapper > div {
    /* border: 2px solid purple; */
    text-align: center;
}
#stats-wrapper div:first-child {
    text-align: left;
}
#stats-wrapper div:last-child {
    text-align: right;
}
#stats-wrapper h5 {
    margin-top: var(--gap-100);
}

#synopsis-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-200);
    text-align: justify;
    /* border: 2px solid green; */
}

#reviews-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-200);
    border: 2px solid teal;
}

.star {
    width: 1em; /* change so not hard coded later */
}