/* Styles shared among top-level components
 * - Define main layout, headers, and footers
 * - Global typography and font styles
 * - Page background colors
 * - CSS global variables
 * - Design how components fit on screen
*/

#book-wrapper {
    padding: 1.6em;
    display: flex;
    flex-direction: column;
    background-color: var(--nearly-black);
    max-width: 30em;
}

#book-preview-wrapper {
    background-color: purple;
    max-width: 30em;
    margin-bottom: 1.5em;
    cursor: pointer;
}

#back-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'SF Pro';
    font-size: 0.9em;
    color: var(--grey-400);
    margin-top: 0.6em;
    /* top | right | bottom | left */
    padding: 1.1em 1em 1em 0.8em;
}
#back-btn:hover {
    color: var(--grey-200);
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0.7em;
    background-color: var(--asphalt);
    margin: 1.2em;
    padding: 1em;
    max-width: 30em;
    margin-bottom: 1.5em;
    align-items: center; /* For vertical centering */
    justify-content: center; /* For horizontal centering */
}

.search-bar-wrapper input {
    flex: 1; /* Take full width of the container */
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none; /* Remove default focus outline */
}
