/* Styles shared among top-level components
 * - Define main layout, headers, and footers
 * - Global typography and font styles
 * - Page background colors
 * - CSS global variables
 * - Design how components fit on screen
*/

#book-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--nearly-black);
    max-width: 480px;
    padding: 1.8em;
    margin: 0;
}

#book-preview-wrapper {
    max-width: 500px; /* TODO */
    margin-bottom: 1.5em;
    cursor: pointer;
}

#back-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'SF Pro';
    font-size: 1.15em;
    color: var(--grey-400);
    /* top | right | bottom | left */
    margin: 0.4em 0 0 0.2em;
    padding: 0.9em 0.9em 0.9em 0.6em;
}
#back-btn:hover {
    color: var(--grey-200);
}
@-moz-document url-prefix() {
    #back-btn {
        font-size: 0.9em;
    }
}

.search-bar-wrapper {
    display: flex;
    flex-direction: row;
    /* top | right | bottom | left */
    margin: 2.1em 1.6em 2.1em 1.6em;
    align-items: center;        /* For vertical centering */
    justify-content: center;    /* For horizontal centering */
    min-height: 1em;
    background: none;
}

.search-bar-wrapper input {
    width: 100%;
    margin: 0;
    outline: none;          /* Remove default focus outline */
    border: 0.1em solid var(--asphalt);
    border-radius: 0.6em;
    font-family: 'SF Compact';
    font-size: 1.3em;
    line-height: 1em;
    /* top/b | right/l */
    padding: 0.85em 1em;
    background-color: var(--asphalt);
}
.search-bar-wrapper input:focus {
    border-color: var(--grey-200);
}

h2 {
    font-family: 'SF Pro';
    font-weight: 600;
    font-size: 1.9em;
    line-height: 1;
    word-wrap: break-word;
    color: var(--grey-200);
}

h3 {
    font-family: 'SF Compact';
    font-weight: 300;
    line-height: 1; 
    color: var(--grey-500);
}
  
h4 {
    font-family: 'SF Compact';
    font-weight: 400;
    font-size: 1.5em;
    color: var(--grey-400);
}
  
h5 {
    font-family: 'SF Compact';
    font-weight: 200;
    font-size: 1.4em;
    color: var(--grey-600);
    margin-top: var(--gap-100);
}

@-moz-document url-prefix() {
    h4 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }

    .search-bar-wrapper {
        /* top | right | bottom | left */
        margin: 1.7em 1.3em 1.7em 1.3em;
    }

    .search-bar-wrapper input {
        border-radius: 0.5em;
        /* top/b | right/l */
        padding: 0.7em 0.9em;
        font-size: 1em;
    }
}
  
p, div {
    font-family: 'SF Compact';
    font-weight: 300;
    line-height: 1.3;
    font-size: 1em;
    color: var(--grey-500);
}

p b {
    color: var(--grey-300)
}

::selection {
    background-color: var(--purple-accent);
}
