/* Global styles that apply to the entire application like
 * - Default browser settings
 * - Global typography and font styles
 * - Page background colors
 * - CSS global variables
*/
  
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--nearly-black);
}
  
main {
    width: 100%;
    height: inherit;
    min-height: inherit;
    background-color: var(--nearly-black);
    min-width: 300px;
}
  
* {
    margin: 0;
    padding: 0;
}
  
/* Custom fonts */
@font-face {
    font-family: 'SF Compact';
    font-weight: 200;
    src: url('assets/fonts/SF-Compact-Light.otf') format('opentype');
}
  
@font-face {
    font-family: 'SF Compact';
    font-weight: 300;
    src: url('assets/fonts/SF-Compact-Regular.otf') format('opentype');
}
  
@font-face {
    font-family: 'SF Compact';
    font-weight: 400;
    src: url('assets/fonts/SF-Compact-Medium.otf') format('opentype');
}
  
@font-face {
    font-family: 'SF Compact';
    font-weight: 500;
    src: url('assets/fonts/SF-Compact-Semibold.otf') format('opentype');
}
  
@font-face {
    font-family: 'SF Pro';
    font-weight: 500;
    src: url('assets/fonts/SF-Pro-Semibold.otf') format('opentype');
}
  
@font-face {
    font-family: 'SF Pro';
    font-weight: 600;
    src: url('assets/fonts/SF-Pro-Bold.otf') format('opentype');
}

html {
    scroll-behavior: smooth;
}

/* dont let the app not be mobile sized */
/* @media (min-width: 600px) {
    main {
        max-width: 600px;
    }
} */

:root {
    color-scheme: dark; /* TODO */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --nearly-black: #090a0c;  /* app background color */
    --asphalt: #232128;
    --grey-100: #e3e8f1;      /* lightest grey */
    --grey-200: #cdced6;      /* light grey, mainly for titles */
    --grey-300: #b5b8c0;      /* medium grey, for small headings */
    --grey-400: #8e9098;      /* medium grey, for small headings */
    --grey-500: #797a81;      /* dark grey, for most body text */
    --grey-600: #616368;      /* darker grey */
    --grey-700: #424347;      /* darkest grey */

    --yellow-accent: #ffd644;   /* bright golden yellow */
    --purple-accent: rgb(83, 66, 167);
  
    --gap-100: 0.15em;          /* tiny gap */
    --gap-200: 0.3em;           /* minor gap */
    --gap-250: 0.35em;          /* minor gap */
    --gap-300: 1.8em;           /* standard gap size */
    --gap-400: 2em;             /* standard gap size */
    --gap-500: 2.5em;           /* big gap */

    --adventure-1: #bf59b2;   /* text tag */ 
    --adventure-2: #903f85;   /* border tag */
    --adventure-3: #30162d;   /* background tag */

    --romance-1: #ce809b;     /* text tag */ 
    --romance-2: #965b6c;     /* border tag */
    --romance-3: #301824;     /* background tag */  

    --bestseller-1: #3654ce;  /* text tag */
    --bestseller-2: #2F257d;  /* border tag */
    --bestseller-3: #110e30;  /* background tag */  
}