/* Styles just used by the Book component */

#cover-wrapper {
    display: flex;
    /* height: fit-content;
    border: 1px solid red; */
    justify-content: center;
}

#cover-wrapper img {
    width: 50%;
    height: auto;
    border-radius: 0.8em;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-400);
}
#title-wrapper h2 {
    margin-bottom: var(--gap-250);
}
#title-wrapper h2,
#title-wrapper h3 {
    text-align: center;
}

#stats-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: var(--gap-300);
    justify-content: space-between;
}
#stats-wrapper > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#stats-wrapper:first-child {
    text-align: left;
}
#stats-box:last-child {
    text-align: right;
}
#stats-wrapper h5 {
    margin-top: var(--gap-100);
}

#synopsis-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-300);
    text-align: justify;
    line-height: 1.4em;
    cursor: pointer;
}

#synopsis-wrapper p b {
    color: var(--grey-300);
}

#reviews-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-300);
}

.star {
    width: 1em; /* change so not hard coded later */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
  
#title-wrapper h2 {
    font-family: 'SF Pro';
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.1;
    word-wrap: break-word;
    color: var(--grey-200);
    color: red;
}
#title-wrapper h2.med {
    font-size: 1.35em;
    color: orange;
}
#title-wrapper h2.long {
    font-size: 1.2em;
    color: yellow;
}
  
h3 {
    font-family: 'SF Compact';
    font-weight: 300;
    line-height: 1.1; 
    color: var(--grey-500);
}
  
h4 {
    font-family: 'SF Compact';
    font-weight: 400;
    color: var(--grey-400);
}
  
h5 {
    font-family: 'SF Compact';
    font-weight: 200;
    color: var(--grey-600);
}
  
p, div {
    font-family: 'SF Compact';
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.1em;
    color: var(--grey-500);
}
  
h3, h4, h5 {
    font-size: 1em;
}