#inner-book-preview-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0.7em;
    background-color: var(--asphalt);
    margin: 1.2em;
    padding: 1em;
}

#preview-cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30.0%;
}

#preview-cover-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 0.4em;
    text-align: center;
}

#preview-content-wrapper {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 70.0%;
    margin-left: 1em;
}
/* #preview-content-wrapper div {
    width: 100%;
} */

#preview-title-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
}
#preview-title-wrapper h2 {
    margin-bottom: var(--gap-200);
}

#preview-tags-wrapper {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* The div's above and below this one will remain their natural height */
    /* But this one (middle) will grow to fill the free space */
    flex-grow: 1; 
    margin-top: 0.8em;
    /* margin-bottom: 0.3em; */
}

#preview-readers-wrapper {
    margin-top: var(--gap-100);
}

.tag {
    font-family: 'SF Compact';
    font-weight: 500;
    font-size: 0.55em;
    border: 0.12em solid;
    border-radius: 0.5em;
    height: fit-content;
    padding: 0.3em 0.6em;
    margin-bottom: 0.4em;
    color: var(--grey-400);
    border-color: var(--grey-500);
    background-color: var(--nearly-black);
}
.tag:not(:last-child) {
    margin-right: 0.7em;
}
.adventure {
    color: var(--adventure-1);
    border-color: var(--adventure-2);
    background-color: var(--adventure-3);
}
.romance {
    color: var(--romance-1);
    border-color: var(--romance-2);
    background-color: var(--romance-3);
}
.bestseller {
    color: var(--bestseller-1);
    border-color: var(--bestseller-2);
    background-color: var(--bestseller-3);
}

#preview-content-wrapper h2 {
    font-family: 'SF Pro';
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.1;
    word-wrap: break-word;
    color: var(--grey-200);
    color: red;
}
#preview-content-wrapper h2.med {
    font-size: 0.8em;
    line-height: 1.2;
    color: orange;
}
#preview-content-wrapper h2.long {
    font-size: 0.7em;
    line-height: 1.3;
    color: yellow;
}

#preview-content-wrapper h3 {
    font-family: 'SF Compact';
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1em;
    color: var(--grey-500);
}

#preview-content-wrapper p {
    font-family: 'SF Compact';
    font-weight: 300;
    font-size: 0.8em;
    color: var(--grey-500);
}

#preview-content-wrapper b {
    color: var(--grey-400)
}